
.home{
    background-color: #393960;
    width: 100%;
    height: 100%;
    padding-left: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hiIm{
    font-size: 4.5em;
    margin: 0 0 0.5rem 0;
}
.namePerfil{
    text-align: start;
    color: #303052;
    font-size: 3.1em;
    margin: 0 0.4rem;    
}
.backgroundName{
    display: flex;
    align-items: center;
    background-color: greenyellow;
    border-top-right-radius: 2rem;
    width: 14rem;
    height: 4rem;
}
.skill{
    display: flex;
    text-align: center;
    letter-spacing: 0.14rem;
    font-size: 1em;
    padding: 4px 0;
}
.alignIdentify { 
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    margin-top: -30rem;
    margin-left: -40rem;
    gap: 1.5rem;
}
.radiuLogo{
    
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(225deg, #333356, #3d3d67);
    box-shadow: -10px 10px 20px #272741,
                5px -5px 40px #4b4b7f;
                transform: scale(1.1);
}
.imgNot{
    width: 9rem;
}
.imgNot:hover{
    transition:  0.5s;
    transform: translateX(0) scale(1.3);
}

.imgSid{
    position: absolute;
    margin-left: -90rem;
    margin-bottom: 4rem;

}

.sid{
    height: 70rem;
}



/* ------ABOUT INIT------ */

.about{
    background-color:#4b4b7f;
    width: 100%;
    height: 100%;
    padding-left: 7rem;

    display: flex;
    justify-content: center;
}





/* ------CONTACT INIT------ */

.contact{
    background-color: #393960;
    width: 100%;
    height: 100vh;
    padding-left: 7rem;

    display: flex;
    justify-content: center;
}