

.containerHeader{
    z-index: 10000;
    width: 5rem;
    height: 10rem ;
    left: 0;
    position: fixed;
    display: flex;
    margin-left: 1rem;
    padding-top: 10rem;
    justify-content: center;
}

.navebar{
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,1.90);
    border-radius: 2rem;
    padding: 3rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10rem;
    border-radius: 66px;
    background: linear-gradient(45deg, #333356, #3d3d67);
    box-shadow:  9px -9px 18px #303052,
                 -9px 9px 18px #42426e;
}

.navebar a{
    color: white;
    
}

.containerMain{
    width: 100vw;
    height: calc(100vh - 2.5rem);
    position: absolute;
    object-fit: cover;
    right: 0;
}

.containerFooter{
    width: 100vw;
    height: 1.7rem;
    background: rgba(255,255,255,.10);
    box-shadow: 0 0 10px rgba(0,0,0,1.25);
    position: fixed;
    bottom: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 30rem;
}


